.time{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

#timeblock {
    text-align: center;
    /*width: 25%;*/
}

#instructions {
    text-align: center;
}

#converttimeform {
    text-align: center;
}

#timezonebox {
    width: 40px;
    text-align: center;
}
